img {
    border-radius: 50%;
}

body {
    background-color: lightgray;
}

#head {
    margin: 0 auto;
    width: 40%;
}

.myform {
    margin: 0 auto;
    width: 40%;
    font-weight: 500;
    background-color: whitesmoke;
    border-top: solid 2px;
    border-top-color: rgb(42, 56, 252);
    padding: 35px;
}

.login {
    margin: 0 auto;
    width: 45%;
    font-weight: 500;
    background-color: whitesmoke;
    border-top: solid 2px;
    border-top-color: rgb(42, 56, 252);
    padding: 35px;
}

#btn {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(123, 190, 22);
    font-weight: bold;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid rgb(123, 190, 22);
}

#input {
    margin: 0 auto;
    width: 100%;
}