{% extends 'base.html' %} {% block main %}
<br>
<br>
<br>
<h1>Login</h1>
<!--<form action="{{ url_for('Post') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div>
        <div>{{form.photo.label}}</div>
        <div>{{form.photo}}</div>
    </div>
    <div>
        <div>{{form.caption.label}}</div>
        <div>{{form.caption}}</div>
    </div>
    <br>
    <button type="submit" name="submit" class="btn btn-primary btn-block">Log in</button>

</form> -->
<h1>post</h1>
{% endblock %}