{% extends 'base.html'%}{% block main %}
<div class="col-lg-4 col-md-6 mx-auto">
    <div class="card card-login">
        <form method="post" action="{{url_for('userform')}} " enctype="multipart/form-data">
            {% include 'flash_messages.html'%} {{form. csrf_token}}
            <div class="card-header card-header-rose text-center">
                <h4 class="card-title">Register</h4>
                <div class="social-line">
                  <a href="javascript:;" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="javascript:;" class="btn btn-just-icon btn-link">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="javascript:;" class="btn btn-just-icon btn-link">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                <div>
                    <div>{{form.username.label}}</div>
                    <div>{{form.username}}</div>
        
                </div>
                <div>
                    <div>
                        {{form.password.label}}
                    </div>
                    <div>
                        {{form.password}}
                    </div>
                </div>
                <div>
                    <div> {{form.firstname.label}}</div>
                    <div>{{form.firstname}}</div>
                </div>
                <div>
        
                    <div>{{form.lastname.label}}</div>
                    <div>{{form.lastname}}</div>
                </div>
                <div>
                    <div>{{form.email.label}}</div>
                    <div>{{form.email}}</div>
                </div>
                <div>
                    <div>{{form.location.label}}</div>
                    <div>{{form.location}}</div>
                </div>
                <div>
                    <div>{{form.biography.label}}</div>
                    <div>{{form.biography}}</div>
                </div>
                <div>
                    <div>{{form.photo.label}}</div>
                    <div>{{form.photo}}</div>
                </div>
                <br>
        
                <button type='submit' name='submit' id="btn"> Register</button>
              </div>
            
        </form>
    </div>
</div>

{% endblock%}